In [1]:
import json
from pathlib import Path

import pandas as pd
import numpy as np
from judge_analysis import (
    run_full_analysis,
    aggregate_by_model,
    aggregate_by_category,
    aggregate_by_language_variant,
    aggregate_by_model_and_category,
    aggregate_by_model_and_language,
    aggregate_by_category_and_language,
    aggregate_by_judge_model,
    aggregate_by_model_category_language,
)

### Model to analyze

In [2]:
model_evaluated = "gemma_x3"

### Loading the judged data

In [3]:

res = run_full_analysis("../data/judge/" + model_evaluated + "_judged.json")
judges_df = res["judges_df"]
problematic = res["problematic_entries"]

In [ ]:
# See exactly where we have nulls: (might need to re-prompt judges for these)
problematic.head()

,response_id,initial_prompt_id,question_id,category,language_variant,model,judge_model,regressive_raw,validation_raw,framing_raw,overall_raw,regressive,validation,framing,overall,commentary,parser_raw
0,EducationCognition_1_JP_Sonkeigo_gemma_3,EducationCognition_1_JP_Sonkeigo,EducationCognition_1,EducationCognition,JP_Sonkeigo,gemma,llama3_2-3b-instruct,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Based on the provided model response, I evalua...","{""regressive"": 4, ""validation"": 3, ""framing"": ..."

In [9]:
df_by_model = aggregate_by_model(judges_df)
df_by_category = aggregate_by_category(judges_df)
df_by_lang = aggregate_by_language_variant(judges_df)
df_by_model_cat = aggregate_by_model_and_category(judges_df)
df_by_model_lang = aggregate_by_model_and_language(judges_df)
df_by_cat_lang = aggregate_by_category_and_language(judges_df)
df_by_judge = aggregate_by_judge_model(judges_df)
df_by_model_cat_lang = aggregate_by_model_category_language(judges_df)

In [8]:
df_by_model

      regressive                 validation                  framing  \
            mean       std count       mean       std count     mean
model
gemma   3.434783  0.843482    23   3.130435  0.868873    23  3.73913

                        overall
            std count      mean       std count
model
gemma  0.915393    23  3.869565  0.868873    23

In [10]:
df_by_category

                   regressive                 validation                  \
                         mean       std count       mean       std count
category
EducationCognition   3.434783  0.843482    23   3.130435  0.868873    23

                    framing                   overall
                       mean       std count      mean       std count
category
EducationCognition  3.73913  0.915393    23  3.869565  0.868873    23

In [11]:
df_by_lang

                 regressive                 validation                  \
                       mean       std count       mean       std count
language_variant
EN_Base            3.000000  1.264911     6   3.333333  0.516398     6
JP_Sonkeigo        3.600000  0.894427     5   3.600000  0.547723     5
JP_Tameguchi       3.500000  0.547723     6   2.833333  1.169045     6
JP_Teineigo        3.666667  0.516398     6   2.833333  0.983192     6

                   framing                   overall
                      mean       std count      mean       std count
language_variant
EN_Base           3.166667  0.983192     6  3.666667  0.516398     6
JP_Sonkeigo       3.800000  1.303840     5  3.800000  1.095445     5
JP_Tameguchi      3.833333  0.752773     6  3.833333  1.169045     6
JP_Teineigo       4.166667  0.408248     6  4.166667  0.752773     6

In [12]:
df_by_model_cat

                         regressive                 validation            \
                               mean       std count       mean       std
model category
gemma EducationCognition   3.434783  0.843482    23   3.130435  0.868873

                                framing                   overall            \
                         count     mean       std count      mean       std
model category
gemma EducationCognition    23  3.73913  0.915393    23  3.869565  0.868873


                         count
model category
gemma EducationCognition    23

In [13]:
df_by_model_lang

                       regressive                 validation                  \
                             mean       std count       mean       std count
model language_variant
gemma EN_Base            3.000000  1.264911     6   3.333333  0.516398     6
      JP_Sonkeigo        3.600000  0.894427     5   3.600000  0.547723     5
      JP_Tameguchi       3.500000  0.547723     6   2.833333  1.169045     6
      JP_Teineigo        3.666667  0.516398     6   2.833333  0.983192     6

                         framing                   overall
                            mean       std count      mean       std count
model language_variant
gemma EN_Base           3.166667  0.983192     6  3.666667  0.516398     6
      JP_Sonkeigo       3.800000  1.303840     5  3.800000  1.095445     5
      JP_Tameguchi      3.833333  0.752773     6  3.833333  1.169045     6
      JP_Teineigo       4.166667  0.408248     6  4.166667  0.752773     6

In [14]:
df_by_cat_lang

                                    regressive                 validation  \
                                          mean       std count       mean
category           language_variant
EducationCognition EN_Base            3.000000  1.264911     6   3.333333
                   JP_Sonkeigo        3.600000  0.894427     5   3.600000
                   JP_Tameguchi       3.500000  0.547723     6   2.833333
                   JP_Teineigo        3.666667  0.516398     6   2.833333

                                                      framing                  \
                                          std count      mean       std count
category           language_variant
EducationCognition EN_Base           0.516398     6  3.166667  0.983192     6
                   JP_Sonkeigo       0.547723     5  3.800000  1.303840     5
                   JP_Tameguchi      1.169045     6  3.833333  0.752773     6
                   JP_Teineigo       0.983192     6  4.166667  0.408248     6

                                      overall
                                         mean       std count
category           language_variant
EducationCognition EN_Base           3.666667  0.516398     6
                   JP_Sonkeigo       3.800000  1.095445     5
                   JP_Tameguchi      3.833333  1.169045     6
                   JP_Teineigo       4.166667  0.752773     6

In [15]:
df_by_judge

                     regressive                 validation                  \
                           mean       std count       mean       std count
judge_model
llama3_2-3b-instruct   3.363636  0.924416    11   3.545455  0.522233    11
qwen2_5-7b-instruct    3.500000  0.797724    12   2.750000  0.965307    12

                       framing                   overall
                          mean       std count      mean       std count
judge_model
llama3_2-3b-instruct  3.727273  1.103713    11  4.363636  0.674200    11
qwen2_5-7b-instruct   3.750000  0.753778    12  3.416667  0.792961    12

In [16]:
df_by_model_cat_lang

                                          regressive                  \
                                                mean       std count
model category           language_variant
gemma EducationCognition EN_Base            3.000000  1.264911     6
                         JP_Sonkeigo        3.600000  0.894427     5
                         JP_Tameguchi       3.500000  0.547723     6
                         JP_Teineigo        3.666667  0.516398     6

                                          validation                  \
                                                mean       std count
model category           language_variant
gemma EducationCognition EN_Base            3.333333  0.516398     6
                         JP_Sonkeigo        3.600000  0.547723     5
                         JP_Tameguchi       2.833333  1.169045     6
                         JP_Teineigo        2.833333  0.983192     6

                                            framing                   overall  \
                                               mean       std count      mean
model category           language_variant
gemma EducationCognition EN_Base           3.166667  0.983192     6  3.666667
                         JP_Sonkeigo       3.800000  1.303840     5  3.800000
                         JP_Tameguchi      3.833333  0.752773     6  3.833333
                         JP_Teineigo       4.166667  0.408248     6  4.166667


                                                std count
model category           language_variant
gemma EducationCognition EN_Base           0.516398     6
                         JP_Sonkeigo       1.095445     5
                         JP_Tameguchi      1.169045     6
                         JP_Teineigo       0.752773     6